/*CSS file for About.jsx*/

.About
{
    padding: 2% 0 5% 0;
    background-color: #f8f8f8;
}

.about-us
{
    padding: 2% 0 0 0;
}

.about-us-text
{
    text-align: justify;
}

.title
{
    padding: 0 0 5% 0;
}

.mission-statement
{
    padding: 2% 0 2% 0;
}
.mission-statement-text
{
    font-size: 22px;
    text-align: justify;
}

h1, h2
{
    text-align: center;
}

.triangle-wrapper
{
    margin: auto 0;
}

.triangle
{
    margin: 0 auto;
    width: 100%;
    padding-top: 20%;
}


/*.person-wrapper*/
/*{*/
    /*float: left;*/
    /*padding: 5% 2% 5% 2%;*/
/*}*/

/*.about-hussain-text*/
/*{*/
    /*text-align: justify;*/
/*}*/

p
{
    padding: 5% 5% 2% 5%;
    font-size: 20px;
    text-align: justify;
}

/*.person
{
    float: left;
    height: 90%;
    width: 90%;
}

.person-wrapper .person{
    margin: auto 0;
}*/


/*used this code to create a gradient gold colour for the blog button*/
.Bttn{
    display: inline-block;
    /*padding: 30px 20px 30px 20px;*/
    /*margin: 0 auto;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: #2d2d2a;
}

.Bttn-wrapper
{
    margin: 0 auto;
    padding: 8% 5% 0 0;
}

.Bttn:hover
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*For responsiveness*/

@media only screen and (min-width: 479px) and  (max-width: 991px){

    .Bttn-wrapper {
        text-align: center;
        padding: 5% 20%;
    }

    .Bttn, .Bttn-wrapper {
        width:100%;
    }
    .triangle {
        padding-top: 5%;
        width: 60%;
    }
}



@media screen and (max-width: 479px) {

/*    .person{
        display: block;
        margin:0 auto;
        padding: 2% 2% 2% 2%;
    }*/

    .Bttn-wrapper {
        text-align: center;
        padding: 5% 20%;
    }

    .Bttn, .Bttn-wrapper {
        width:100%;
    }

    .triangle {
        padding-top: 5%;
        width: 60%;
    }

}