.Footer
{
    padding: 2% 0 2% 0;
    background-color: #f8f8f8;
}

a
{
    margin: 0 5% 0 0;
}

.social-media
{
    margin: 0 0 0 6%;

}


.instant,.snap, .mail
{
    padding: 2% 2% 2% 2%;
    font-size: 50px;
    color: #d5d5d5;
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 2px #888;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 0 auto;
}

.instant:hover, .snap:hover, .mail:hover
{
    background-color: #666166;
}

p
{
    text-align: center;
}
