/*CSS code for subscribe.jsx*/

.Subscribe
{
    padding: 2% 0 2% 0;
    background-color: #f8f8f8;
}

.Training-description{
text-align: center;
}

.Description
{
    padding: 2% 0 2% 0;
}

p
{
    text-align: center;
}

.Form-class
{
    padding: 0 0 2% 10%;
    margin: 0 auto;
}

.Form-class input
{
    margin: 2% 2% 2% 2%;
}

.msg-alert p
{
    margin: 0 auto;
    padding: 5% 20% 0 2%;
}

.Form-class button
{
    border-radius: 10px;
    background-color: #eeeeee;
    margin-left: 40%;
}

button:hover
{
    background-color: #f8f8f8;
    -webkit-transition: prop 0.2s;
    -moz-transition: prop 0.2s;
    -o-transition: prop 0.2s;
    transition: prop 0.2s;
}

/*Responsiveness styling*/

@media screen and (min-width: 673px) and (max-width:1199px) {
    .Form-class {
        padding: 0;
        text-align: center;
    }

    .Form-class> button{
        margin-left:5%;
    }
}

@media screen and (min-width: 479px) and (max-width:673px) {
    .Form-class {
        padding: 0;
        text-align: center;
        overflow-x: hidden;
        display: grid;
        width:50%;
    }

    .Form-class> button{
        margin-left:5%;
    }
}

@media screen and (max-width: 479px) {

    .Form-class{
        margin: 0 auto;
        text-align: center;
        padding: 0 0 2% 2%;
    }

    .Form-class button
    {
        margin-right: 40%;

    }

}




