/*CSS for Terms.jsx*/

.Terms .footer
{
    background-color: #1d1e1d;
}

.link
{
    text-decoration: none;
    color: #f8f8f8;
}

.link:hover
{
    text-decoration: none;
    color: #aaaaaa;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.wrapper
{
    padding: 5% 0 5% 10%;
    margin: 0 auto;
}

.list-unstyled
{
    margin: 0 auto;
    text-align:center;
}

.footer-copyright
{
    margin: 0 auto;
    padding: 0 0 5% 15%;
    color: #aaaaaa;
}
