/*CSS for Training.jsx*/

.Training
{
    padding: 2% 0 2% 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

h1
{
    padding: 0 0 1% 0;
}

.Consult
{
    display:inline-block;
    border-radius:5px;
    border:solid 4px rgba(239, 213, 117, 1);
    background-color:rgba(239, 213, 117, 1);
    color:rgba(0, 0, 0, 1);
    padding:1rem 2rem;
    cursor:pointer;
    text-decoration:none;
}

.Picture-wrapper
{
    padding: 2% 2% 2% 2%;
}

.Description
{
    padding: 2% 0 2% 0;
}

.Button-wrapper
{
    padding: 0 0 2% 0;
}

p
{
    text-align: justify;
}

.Title-Heading
{
    text-align:justify;
}

.Column
{
    margin: 0 auto;
    width: 50%;
    padding: 1%;
    position: relative;
}

.Columns
{
    margin: 0 auto;
    float:left;
    width: 50%;
    padding: 1%;
    position: relative;
}

.Price
{
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


/* Add shadows on hover */
.Price:hover
{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.Price .Head
{
    background-color: #2f2f2f;
    color: white;
    font-size: 25px;
}

.Price .Pack-Heading
{
    padding: 5% 10% 5% 21%;
}

.Price .Price-Tag
{
    padding: 0 0 0 25%;
    margin: 0 auto;
}

.Price .Pack-Heading-lg
{
    padding: 5% 5% 5% 5%;
}

.Price .Price-Tag-lg
{
    margin: 0 auto;
    padding: 0 0 2% 25%;
}

/* List items */
.Price li
{
    border-bottom: 1px solid #eee;
    padding: 10%;
    text-align: justify;
}

/* Grey list item */
.Price .Grey
{
    background-color: #eee;
    font-size: 20px;
}

@media screen and (min-width:748px) and (max-width: 1199px) {
    .Columns
    {
        padding: 3%;
    }

    .Price .Head {
        font-size: 21px;
    }

    .Price .Grey {
        font-size:15px;
    }
}

@media screen and (min-width:476px) and (max-width: 748px) {
    .Columns
    {
        padding: 3%;
    }

    .Price .Head {
        font-size: 18px;
    }

    .Price .Grey {
        font-size:15px;
    }
}


@media screen and (max-width: 476px) {

    .Columns
    {
        padding: 1% 1% 1% 1%;
        position: relative;
    }

    .Columns .Column{
        width: 100%;
    }

    .Price .Head {
        font-size: 70%;
    }

    .Price-text {
        font-size: 90%;
    }

    .Pack-Heading {
    }

    .Price .Pack-Heading
    {
        padding: 5% 10% 5% 21%;
        text-align:justify;
    }

    .Price .Pack-Heading-lg
    {
        width:100%;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        padding: 5% 3% 5% 3%;
    }

    .Price .Price-Tag{
        margin: 0 auto;
        padding: 0 5% 0 5%;

    }
    .Price .Price-Tag-lg{
        margin: 0 auto;
        padding: 0 5% 5% 5%;

    }
}